@import "variables";

body {
  background-color: var(--bg_color);
  color: var(--fg_color);
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-size: 18px;
  margin: 0;
}

* {
  outline: unset;
  text-decoration: none;
}

h1 {
  display: inline;
}

h2,
h3 {
  font-weight: normal;
}

a {
  color: var(--accent);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.byline {
  color: var(--fg_faded);
  font-size: 14px;
  margin: 0 0 6px;
}

main {
  background-color: var(--bg_panel);
  padding: 20px;
  line-height: 1.4;
  max-width: $page-width;
  margin: 1em auto;
  border-radius: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

table {
  margin-top: 1em;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--fg_faded);
  border-spacing: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

thead {
  font-weight: bold;
}

td {
  padding: 5px;

  &:first-child {
    padding-left: 10px;
  }
}

tbody {
  td {
    border-top: 1px solid var(--fg_faded);
  }
}

figure {
  margin: 0px 10px;
}

figcaption {
  color: var(--fg_faded);
  font-size: 14px;
}

.nav {
  text-align: center;

  a {
    padding: 0px 10px;
  }
}

footer {
  max-width: $page-width;
  margin: 1em auto;
  font-size: 14px;
  text-align: center;
  color: var(--fg_faded);

  a {
    color: var(--fg_faded);
  }
}