// colors
$bg_color: #fffff8;
$bg_panel: #fffff8;
$fg_color: #112;
$accent: #FF6C60;

$light-bg-color: #fffff8;
$light-text-color: #111;

$dark-bg-color: #151515;
$dark-text-color: #ddd;


@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background);
    color: var(--color);
  }
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --color: $dark-text-color;
    --background: $dark-bg-color;
  }
  body {
    background-color: var(--background);
    color: var(--color);
  }
}

$page-width: 900px;

//fonts
$font_0: Georgia;
$font_1: Helvetica Neue;
$font_2: Arial;
$font_3: sans-serif;